li.menu {
  width: 24%;
  display: inline-block; }

* {
  margin: 0; }

body {
  background: url("../img/bg.jpg");
  margin-left: 15%;
  margin-right: 15%; }

.menu {
  display: inline-block;
  height: 5%;
  list-style: none;
  display: inline-block; }

.socialLinkTop {
  display: inline-block; }

.facebook,
.rssFeed,
.twitter,
.youTube {
  width: 60px;
  height: 60px;
  list-style: none;
  display: inline-block;
  box-shadow: 0 0 2px grey;
  box-shadow-color: white; }

.facebook {
  background-color: #455a95; }

.rssFeed {
  background-color: #cb8f3c; }

.twitter {
  background-color: #6b8ec5; }

.youTube {
  background-color: #b03931; }
