$visual-grid: true;

@import '../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../bower_components/neat/app/assets/stylesheets/neat';

* {
  margin: 0;
}

body {
  background: url("../img/bg.jpg");
  margin-left: 10%;
  margin-right: 10%;
}

nav a {
  @include span-columns(3);
  background-color: red;
  text-align: center;
  text-color: white;
  height: 40px;
  padding-top: 10px;
}
a {
  text-decoration: none;
}
.backgroundlogo {
  @include span-columns(12);
  background-image: url("../img/top-image.png");

}
h1 {

}
.article {
  @include span-columns(12);
  border-width: medium;
  border-color: white;
  background-color: white;
}
.article .articlesub {
  @include span-columns(4 of 12);
}

.article a {
  text-decoration: none;
  color: red;
  text-align: center;
}
ul {
  display: inline-block;
  height: 5%;
  list-style-type: none;
  float: right;
}
.socialLinkTop {
  display: inline-block;
}


.facebook,
.rssFeed,
.twitter,
.youTube {
  width: 60px;
  height: 60px;
  list-style: none;
  display: inline-block;
  box-shadow: 0 0 2px grey;
  box-shadow-color: white;

}
.skateboardcont {
  background-color: white;
  @include span-columns(12);
}
.skateboardcont img {
  padding: 18px;
}
.facebook {
  background-color: rgba(69, 90, 149, 1);
}
.rssFeed {
  background-color: rgba(203, 143, 60, 1);
}
.twitter {
  background-color: rgba(107, 142, 197, 1);
}
.youTube {
  background-color: rgba(176, 57, 49, 1);
}
